/** {
    font-family: 'ApexNew-Book';
}*/

body {
    background-color: #feb9e5 !important;
}
.login {
    margin: 0 auto;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    background-image: url(../../zulema/img/principal.jpg);
    background-position: center;
    background-size: cover;
    background-color: #feb9e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    color: #002033;
}

.divlogin {
    margin: 0px auto;
    width: 425px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(120deg,rgba(255, 255, 255, 0.8901960784313725) 10%,rgba(255, 255, 255, 0) 100%);
}

.login input[type='text'], .login input[type='password'] {
    color: #002033;
    border-bottom: none;
    font-size: 1.3em;
}

    .login input[type='text']::placeholder, .login input[type='password']::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9AA5B1;
        opacity: 1; /* Firefox */
    }

    .login input[type='text']:-ms-input-placeholder, .login input[type='password']:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9AA5B1;
    }

    .login input[type='text']::-ms-input-placeholder, .login input[type='password']::-ms-input-placeholder { /* Microsoft Edge */
        color: #9AA5B1;
    }

.mainbutton {
    background-color: #7a315c;
    border-radius: 4px;
    margin-top: 70px;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 15px;
    width: 60%;
    outline-color:silver;
}

input::placeholder {
    color: white;
}

a {
    background-color: transparent;
    font-size: 14px;
}

label {
    font-size: 13px;
}

label, a {
    color: #7a315c;
    font-weight: bold;
    vertical-align: text-top;
}

.login .others:last-of-type {
    transform: translate(85px, -168px);
}

.logo {
    background-image: url(../../zulema/img/inicio.png);
    height:200px;
    margin-top:-75px;
}

.mainbutton:hover {
    background-color: #7a315c;
}

.trademark .outstanding {
    color: #7a315c;
}

.trademark {
    color: #999697;
}

.login .cell {
    border: 1px solid rgb(245, 245, 245);
    border-radius: 2px;
    box-shadow: 1px 2px 4px 1px rgba(78, 78, 78, 0.34);
    width: 320px;
    padding: 10px;
    margin: 30px auto;
}

    .login .cell i {
        font-size: 1.1em;
        color: #9AA5B1;
    }

#pass-status{color:#dddddd;}